:root {
  --purp: #5319e7;
  --gray: #ccc;
  --fg: #000;
  --bg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --purp: #ace618;
    --gray: #444;
    --fg: #fff;
    --bg: #000;
  }
}

* {
  box-sizing: border-box;
}
body {
  max-width: 60ch;
  margin: 0 auto;
  padding: 8px;
  color: var(--fg);
  background: var(--bg);
}

:not(pre, code, samp) {
  font-family: "noto sans", sans-serif !important;
}
pre, code, samp {
  font-family: "noto sans mono", monospace;
  background: var(--gray);
  padding: 0 4px;
}
pre {
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: var(--purp);
}
a:hover {
  border-bottom: 1px solid var(--purp);
}

ul {
  list-style-type: disc;
}
dt {
  font-weight: bold;
}
dl.lex dd {
  font-style: italic;
}

::marker, dt, legend {
  color: var(--purp);
}

.sc {
  font-variant: small-caps;
}
.gr {
  color: var(--gray);
}

input[type=checkbox] {
  appearance: none;
  background: var(--bg);
  border: 1px solid var(--fg);
}
input[type=checkbox]:checked {
  background: var(--purp);
}

.scr {
  overflow-x: auto;
}

table {
  white-space: nowrap;
}
